.paginate-container {
  display: flex;
  list-style: none;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: center;
}

.page {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
  cursor: pointer;
  &:hover {
    background-color: rgba(166, 166, 166, 0.42);
    cursor: pointer;
  }
  &__break {
    align-items: center;
    padding-top: 2rem;
  }
  &.dots:hover {
    cursor: default;
  }
}

.disabled {
  cursor: not-allowed;
}

.active {
  border: 2px solid #000;
  font-weight: bold;
  background-color: #7f8c8d;
}

.previous {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.break {
  padding: 10px;
}

.next {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}
