@use "../abstracts" as *;

.person-wrapper {
  overflow: hidden;
  padding: 6rem;

  @include responsive(xsmall) {
    padding: 2rem;
  }
}

.person-wrapper section {
  min-height: 200px;
  padding: 10px;
}

.sidebar {
  float: left;
  width: 25%;
  position: relative;
  &__biography {
    margin: 1rem;
    padding-top: 2rem;
    color: #89a;
    font-size: 13px;
    letter-spacing: 0.03em;
    white-space: pre-wrap;
  }
  &__bottom {
    margin-left: 1rem;
  }
  &__profilecard {
    width: 100%;
    height: auto;
    position: relative;
    background-size: 100%;
    &__img {
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 0 30px black;
      }
    }
  }
}

.films {
  overflow: hidden;
  float: right;
  width: 70%;
  position: relative;
  min-height: 170px;

  @include responsive(xsmall) {
    width: 100%;
  }
  &__header {
    font-family: Graphik-Regular-Web, sans-serif;
    font-size: 1.69230769rem;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-bottom: 2px;
    text-transform: uppercase;
    background: #9ab;
    background-clip: text;
    color: transparent;
    border-bottom: 1px solid #9ab;
    &__name {
      color: white;
      font-size: 20px;
      font-weight: 800;
    }
  }
  &__wrapper {
    color: pink;
  }
}

.imdb_link {
  padding: 1rem;
}

.button-8 {
  background-color: #445566;
  border-radius: 3px;
  border: 1px solid #687172;
  box-shadow: rgba(68, 85, 102, 0.3) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #69809b;
  color: #ffffff;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

@media screen and (max-width: 600px) {
  .sidebar {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
    border-bottom: 2px solid #000;
  }
}

.readmore-text {
  display: inline;
  width: 100%;
  color: white;
  &:hover {
    color: white;
  }
}

.filmography {
  margin: 4rem 0;
  @include responsive(xsmall) {
    margin: 2rem 0;
  }
  &__card {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0 0 30px black;
    &__img {
      img {
        width: 100%;
      }
    }
    &__layer {
      @include position(absolute, 0, 0, 0, 0, 100%, 100%);
      @include align(flex, null, flex-end, null);
      background: linear-gradient(to bottom, transparent 50%, $black);
      padding: 2rem;
      color: $white;
      &__content {
        @include align(flex, null, center, null);
        &__movie {
          font-size: 1.5rem;
          margin-left: 0.4rem;
          text-shadow: 1.5px 1.5px 1.5px black;
          &__link {
            color: white;
            text-decoration: none;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    &__info {
      @include position(absolute, 50%, 50%, null, null, 1%, 1%);
      @include align(flex, center, center, null);
      visibility: hidden;
      background-color: rgba(255, 0, 0, 0.32);
      transform: scale(0);
      transition: all 0.1s linear;
    }
    &:hover &__info {
      visibility: visible;
      transform: scale(1.3);
    }
  }
}
