.input-wrapper {
  position: relative;
  height: 3.5rem;
  border: none;
  margin-top: 7rem;
  padding: 0 15px;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.5rem;
  width: 100%;
  margin-left: 5px;
}

.search-result {
  color: black;
}

input:focus {
  outline: none;
}

#search-icon {
  color: rgba(99, 208, 82, 255);
}

#clear-button {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}
