* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  //color-scheme: dark;
}

html {
  font-size: 60%;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background: #192023;
}

//::-webkit-scrollbar {
//  display: none;
//}
