$white: #fff;
$black: #000;
$orange: #fbbf24;
$green: #34d399;
$darkBlack: #1c1d1f;
$silver: #7f8c8d;
$lightSilver: rgba(17, 11, 11, 0.93);
$darkSilver: #777;
$lightSilver-50: #d4cfcf;
$lightSilver-45: #e2e4eb;
$lightSilver-40: #f6f6fb;
$mainColor1: #63d052;
$black-footer: #2E2E2E;
